<!DOCTYPE html>
<html> 
 
<head>
  <script> type="text/javascript" src=""
  </script>
</head>
 
<body>
    <h2 class="center-align">Foster Finder</h2>
    
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li>Welcome, {{fullname}}</li>
        <li><a href="account">My Profile</a></li>
        <li><a href="shelters">My Shelters</a></li>
        <li><a href="resources">Resources</a></li>

      </ul>
      <form class = "left-align" id="signout" name ="signout" method="get" action ="/logout">
        <input class ="btn" type="submit" value ="logout">
    </form>
    </div>
    
  </nav>
  


  {{!-- <div class="container">
  <div id="map" class="col-md-8"></div>
  <div id="placesList" class="col-md-4"></div>
</div>
<!--This is our template. -->
<!--Data will be inserted in its according place, replacing the brackets.-->
<div class="container">
  <div id="map" class="col-md-8"></div>
  <div id="placesList" class="col-md-4"></div>
<script id="maps" type="text/x-handlebars-template">
  {{#each places}}
    <article class="media">
      <div class="media-center" {{#if this.img}}  style="background-image:url({{this.img}} )"{{/if}}></div>
      <div class="media-body"><a><h5 class="media-heading">{{this.name}}<span class="badge">{{this.rating}}</span></h5></a></div>
    </article>
  {{/each}}
</script>
</div> --}}
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 75%;
        margin: 10;
        padding: 10;
      }
    </style>
    <script>
      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
        var lat = "{{lat}}"
        console.log("========", lat)
        var lng = "{{lng}}"
        console.log("========", lng)
       function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 39.677, lng: -104.96},
          zoom: 15
        });
        var infowindow = new google.maps.InfoWindow();
        var service = new google.maps.places.PlacesService(map);
        service.getDetails({
          placeId: ''
        }, function(place, status) {
          if (status === google.maps.places.PlacesServiceStatus.OK) {
            var marker = new google.maps.Marker({
              map: map,
              position: place.geometry.location
            });
            google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent('<div><strong>' + place.name + '</strong><br>' +
                'Place ID: ' + place.place_id + '<br>' +
                place.formatted_address + '</div>');
              infowindow.open(map, this);
            });
          }
        });
      }
    </script> 
		</div>
	</div>
		</div>
	</div>
</div>

<div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXCYDyq-bo7-LPvyRsIngfSOhIDLnDL5Q&libraries=places&callback=initMap"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" ></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

   


         
  
  
</body>
 
</html>
